<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>¿Que es el reciclaje?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="verde1">
    <div class="pagina">
        <h1>¿Que es el reciclaje?</h1>
        <div class="caja-info">

            <h2>Definicion</h2>
            <p>El reciclaje trata de convertir residuos plásticos, la basura que consumimos diariamente, en nuevos productos o en materia prima para su posterior utilización, esto como una medida ante el creciente derroche de este material, ya que mayoría de los plásticos que consumimos sólo satisfacen un uso, por lo que se convierten en un problema medioambiental grave.Se estima que los plásticos de un solo uso representan el 50% de todos los que se producen cada año. 
               Por lo anterior, se calcula que 8 millones de toneladas de plástico llegan a los océanos cada año, por lo que se proyecta que en 2050 habrá más plásticos que peces en el océano.</p>

            <h2>¿Como funciona?</h2>
            <p>El proceso incluye recolectar los residuos, separarlos por tipo, limpiarlos y transformarlos en materia prima. 
                Con esa nueva materia se pueden fabricar objetos como envases, ropa, cuadernos, muebles y muchos otros artículos.</p>

            <h2>Beneficios de reciclar</h2>
            <p>El reciclaje ofrece beneficios ambientales como la reducción de residuos, ahorro de energía y agua, menor contaminación y preservación de recursos naturales, al convertir desechos en materia prima. También impulsa la economía circular y genera empleos verdes, además de mitigar el cambio climático 
                al disminuir emisiones de gases de efecto invernadero de vertederos e incineradoras. </p>

        </div>

        <div class="images">
            <img src="/static/images/imagen1.jpg">
            <img src="/static/images/imagen2.jpg">
        </div>
    </div>

    <a href="/menu" class="volver">Volver al menú</a>

</div>

</body>
</html>