<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Importancia del reciclaje</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="verde3">

<div class="contenido">

    <h1 style="text-align:center;">Importancia del Reciclaje</h1>

    <div class="caja-info">
        <h2>Reduce la contaminacion</h2>
        <p>El reciclaje es crucial para reducir la contaminación porque disminuye la basura en vertederos e incineradoras, reduce la necesidad de extraer nuevas materias primas (protegiendo hábitats), ahorra enormes cantidades de energía y reduce las emisiones de gases de efecto invernadero (GEI) y contaminantes del aire, suelo y agua, contribuyendo a la lucha contra el cambio climático y a un medio ambiente más sano. </p>
        <h2>Ahorra</h2>
        <p>El reciclaje es crucial porque reduce la necesidad de extraer nuevas materias primas (madera, agua, minerales), conservando recursos naturales y hábitats, a la vez que ahorra enormes cantidades de energía y disminuye las emisiones de gases de efecto invernadero, combatiendo el cambio climático y la contaminación del aire, agua y suelo al desviar residuos de vertederos y procesarlos para crear nuevos productos. </p>
        <h2>Protege el ambiente</h2>
        <p>El reciclaje protege el medio ambiente crucialmente al ahorrar recursos naturales, reducir la contaminación (aire, agua, suelo), disminuir la energía necesaria y las emisiones de GEI (gases de efecto invernadero), y minimizar los desechos en vertederos, que liberan metano y contaminan el agua; también crea empleo y promueve una economía circular. </p>

<div class="images">
            <img src="/static/images/imagen6.jpg">
            <img src="/static/images/imagen7.png">
        </div>
    </div>

    <a href="/menu" class="volver">Volver al menú</a>
</div>

</body>
</html>