<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reducir</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="verde5">

<div class="contenido">

    <h1 style="text-align:center;">Reducir</h1>

    <div class="caja-info">

        <h2>¿Qué significa reducir?</h2>
        <p>Significa disminuir el volumen de productos que consumimos. Debemos evitar comprar cosas innecesarias sólo por el afán de comprar. Para fabricar lo que compramos se precisan materias primas (petróleo, madera o agua) que, por su difícil extracción o por su escasez en la naturaleza, no podemos permitirnos el lujo de derrochar. Igual de preocupante es la enorme cantidad de basura que generan los envoltorios y envases de muchas de las cosas que compramos en nuestra vida cotidiana </p>

        <h2>Importancia de reducir</h2>
        <p>Reducir es la primera estrategia en la regla de las tres R y se refiere a disminuir el consumo de recursos, así como la generación de residuos. Su propósito es evitar el desperdicio y la utilización excesiva de energía y combustibles, desde la fase de producción hasta el consumo final del producto. </p>

        <h2>Beneficios de reducir</h2>
        <p>1. Disminuye la generación de residuos 
           2. Reduce el consumo de energía y electricidad 
           3. Disminuye la contaminación ambiental </p>

        <div class="images">
            <img src="/static/images/imagen10.jpg">
            <img src="/static/images/imagen11.jpg">
        </div>
    </div>

    <a href="/menu" class="volver">Volver al menú</a>

</div>

</body>
</html>