<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reciclar</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="verde7">

<div class="contenido">

    <h1 style="text-align:center;">Reciclar</h1>

    <div class="caja-info">
        <h2>¿Qué significa reciclar?</h2>
        <p>Consiste en fabricar nuevos productos utilizando materiales obtenidos de otros usados, mediante un proceso de transformación.El papel, el cartón y los envases de vidrio, metal y plástico pueden reciclarse sin problema. Para ello es muy importante separar cada residuo en los diferentes contenedores que tenemos en las calles de nuestra ciudad.</p>

        <h2>Importancia de reciclar</h2>
        <p>La tercera R es, el proceso mediante el cual los materiales descartados se transforman en nuevas materias primas para su reinserción en los ciclos productivos. Su propósito es reducir la demanda de recursos naturales, disminuir la generación de residuos y optimizar el uso de materiales dentro de la economía. </p>

        <h2>Beneficios del Reciclaje</h2>
        <p>1. Reduce la extracción de materias primas
           2. Disminuye el gasto energetico
           3. Contribuye a un planeta más sostenible .</p>

        <div class="images">
            <img src="/static/images/imagen14.jpg">
            <img src="/static/images/imagen15.jpg">
        </div>
    </div>

    <a href="/menu" class="volver">Volver al menú</a>

</div>

</body>
</html>