<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recytech-menu</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="contenedor">
        <!--LOGO-->
        <div class="logo">
            <img src="/static/images/logo.jpeg" class="logo" alt="Logo Recytech">
        </div>
        <!--MENU CON BOTONES-->
    <div class="menu">
        <h2>Recytech</h2>

        <a href="/1" class="button">1.¿Que es el reciclaje?</a>
        <a href="/2" class="button">2.Tipos de reciclaje</a>
        <a href="/3" class="button">3.Importancia</a>
        <a href="/4" class="button">4.Impacto ambiental</a>
        <a href="/5" class="button">5.Reducir</a>
        <a href="/6" class="button">6.Reutilizar</a>
        <a href="/7" class="button">7.Reciclar</a>
        <a href="/formulario" class="button">8.Formulario</a>
    </div>
</div>
<a href="/" class="boton-inicio">Regresar al inicio</a>


</body>
</html>